{% if site.google_scholar_stats_enabled %}
<script>
  $(document).ready(function () {
    var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/';
    $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
      var totalCitations = document.getElementById('total_cit');
      if (totalCitations) {
        totalCitations.textContent = data['citedby'];
      }
      Array.prototype.forEach.call(document.getElementsByClassName('show_paper_citations'), function (element) {
        var paperId = element.getAttribute('data');
        var publication = data['publications'] && data['publications'][paperId];
        if (publication && publication['num_citations'] !== undefined) {
          element.textContent = '| Citations: ' + publication['num_citations'];
        }
      });
    });
  });
</script>
{% endif %}
